Options -indexes
Options +FollowSymLinks
<IfModule mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is ENABLED. Then check, using: array_key_exists('HTTP_MOD_REWRITE', $_SERVER)
    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine on
	RewriteCond %{REQUEST_URI} !^(/content/.+?|/_code/.+?|/404.php|/_zoom.php|/index.php)
	RewriteRule ^/?(.+)$    /content/$1/    [NC,L]
	ErrorDocument 404 /404.php
</IfModule>

