/****
* css modifications for small screens (width less than or equal to 720px)
****/
#nav, #content{margin:10px;padding:10px;}
/*#nav ul, #content{padding:10px;}*/
.backTitle{margin:10px 20px 30px -10px; padding:10px 20px 10px 10px;}
#container{padding-left:210px;}
#footer{padding-left:20px;}