/****
* css modifications for small screens (width less than or equal to 720px)
****/
#nav{top:0; left:0;
	max-width:none; width:100%; 
	border-bottom:1px solid #000;
	height:45px;
	overflow:hidden;
}
#nav ul{margin:10px;}
#nav, .backTitle{background-color:rgba(255, 255, 255, .9);}
.backTitle{left:0; top:46px; padding-left:10px;}
.backTitle.zoomPage{top:0; padding-left:10px;}
#mobileMenu{visibility:visible;}
#content{margin-left:0; margin-top:54px;}
#footer{padding-left:10px;}
#bigImgContainer{margin-top:37px;}
a.zoom{margin-right: -10px;
	margin-left: -10px;
	display: block;
}

#nav.collapsible{height:auto;}
