/****
* css modifications for small screens (width less than or equal to 720px)
****/
#nav{margin:0;
	max-width:none; width:100%; 
	border-bottom:1px solid #000;
	height:43px;
	overflow:hidden;
}
#nav, .backTitle{background-color:rgba(255, 255, 255, .9);}
.backTitle{left:0; margin:44px 0 0 10px;}
.backTitle.zoomPage{margin:0;}
#mobileMenu{visibility:visible;}
#container{padding-left:0; padding-top:44px;}
#footer{padding-left:10px;}
#bigImgContainer{margin-top:47px;}