/****
* css modifications for small screens (width less than or equal to 720px)
****/
.modal{width:auto;}
ul.structure{
    margin-left: -75px;
    margin-right: -19px;
}

ul.structure li span.imgInput{margin-left:0;}
ul.structure li ul li.sub::before{margin-left:-23px;}
/*ul.structure li a{margin-left:5px;}*/